NODE_MODE=CLOUD
NODE_KEY=CLOUD

DATABASE_URL="postgresql://postgres.tadzcckmvpzkukzykrqx:98wb$7E-RHBTvQ/@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://postgres.tadzcckmvpzkukzykrqx:98wb$7E-RHBTvQ/@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

JWT_SECRET="VfCPXPGR9yYCsw3GhecmdFBG7+t9icMQXmW3zrM0P1C//mi8FwLswZP41Hxs19/g"
JWT_EXPIRES_IN=12h
SYNC_ENABLED=false
SEQUENCE_BLOCK_SIZE=1000